@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v24-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v24-latin-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: inline-block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  padding: 30px 50px;
  max-width: 1100px;
  border-radius: 8px;
  background-image: url("../imgs/pink-color.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
}

.form_left {
  width: 50%;
  color: #fefafb;
}

.form_title {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.form_desc {
  margin: 0;
  line-height: 1.6;
}

.form_right {
  width: 50%;
}

.form_member_btn {
  margin-bottom: 16px;
  padding: 14px 24px;
  width: 100%;
  background-color: #5e54a4;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.form_member_btn:hover {
  opacity: 0.8;
}

.form_member_btn_left {
  font-weight: 600;
}

.from_main {
  padding: 28px;
  background-color: #fffffe;
  border-radius: 8px;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.15);
}

.form_inputs {
  padding: 12px 18px;
  margin-bottom: 16px;
  width: 100%;
  border: 2px solid #dcdcdc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.form_main_btn {
  margin-bottom: 16px;
  padding: 14px 24px;
  width: 100%;
  background-color: #37cd8a;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.form_main_btn:hover {
  opacity: 0.8;
}

.form_agree_link_desc {
  margin: 0;
  font-size: 13px;
  color: #b9b6c6; /* och kulrang */
  text-align: center;
}

.form_agree_link {
  color: #ff6b6b;
  font-weight: 600;
  text-decoration: none;
}

.form_agree_link:hover {
  text-decoration: underline;
}
